services:
  ubs-files:
    image: hcangunduz/ubs-mona-files:5.8.0
    ports:
      - 3360:3000
    environment:
      - NX_MICROSERVICE_TYPE=ENGINE5
      - E5_HOST=engine5
      - E5_PORT=3535
      - NX_SECRET_JWT=23ac43b5e6f2a12
      - NX_SECRET_PW=secret
      - NX_MONGO_URL=my-mongodb:27017
      - NX_MONGO_DBNAME=ubs_files
      - NX_MONGO_USERNAME=admin
      - NX_MONGO_PASSWORD=admin
      - UBS_MAIN_PROCESS=true
      - UBS_MAIN_PROCESS_COUNT=3
  ubs-social:
    image: hcangunduz/ubs-mona-social:5.8.0
    ports:
      - 3117:3000
    environment:
      - NX_MICROSERVICE_TYPE=ENGINE5
      - E5_HOST=engine5
      - E5_PORT=3535
      - NX_SECRET_JWT=23ac43b5e6f2a12
      - NX_SECRET_PW=secret
      - NX_MONGO_URL=my-mongodb:27017
      - NX_MONGO_DBNAME=ubs_social
      - NX_MONGO_USERNAME=admin
      - NX_MONGO_PASSWORD=admin
      - PORT=3000
      - UBS_MAIN_PROCESS=true
      - UBS_MAIN_PROCESS_COUNT=3

  ubs-feedback:
    image: hcangunduz/ubs-mona-feedback:5.8.0
    ports:
      - 3091:3091
    environment:
      - NX_MICROSERVICE_TYPE=ENGINE5
      - E5_HOST=engine5
      - E5_PORT=3535
      - NX_SECRET_JWT=23ac43b5e6f2a12
      - NX_SECRET_PW=secret
      - NX_MONGO_URL=my-mongodb:27017
      - NX_MONGO_DBNAME=ubs_feedback
      - NX_MONGO_USERNAME=admin
      - NX_MONGO_PASSWORD=admin
      - PORT=3091

  ubs-notify:
    image: 'hcangunduz/ubs-mona-notify:5.8.0'
    ports:
      - 3169:3169
    environment:
      - NX_MICROSERVICE_TYPE=ENGINE5
      - E5_HOST=engine5
      - E5_PORT=3535
      - NX_MONGO_URL=my-mongodb:27017
      - NX_MONGO_DBNAME=ubs_notify
      - NX_MONGO_USERNAME=admin
      - NX_MONGO_PASSWORD=admin
      - NX_SECRET_JWT=23ac43b5e6f2a12
      - NX_SECRET_PW=secret
      - UNOTIFY_DEFAULT_LANGUAGE=en-us
      - UNOTIFY_MAIL_FROM=info@tester.tetakent.com
      - UNOTIFY_MAIL_SERVER_HOST=smtp4dev
      - UNOTIFY_MAIL_SERVER_PORT=25
      # - UNOTIFY_MAIL_SERVER_UNAME=${UNOTIFY_MAIL_SERVER_UNAME}
      # - UNOTIFY_MAIL_SERVER_PW=${UNOTIFY_MAIL_SERVER_PW}
      - UNOTIFY_MAIL_CERT_IGNORE_SSL=true
  ubs-users:
    image: 'hcangunduz/ubs-mona-users:5.8.0'
    ports:
      - 3000:3000
      - 13001:13001
    environment:
      - NX_MICROSERVICE_TYPE=ENGINE5
      - E5_HOST=engine5
      - E5_PORT=3535
      - NX_MONGO_URL=my-mongodb:27017
      - NX_MONGO_DBNAME=ubs_users
      - NX_MONGO_USERNAME=admin
      - NX_MONGO_PASSWORD=admin
      - NX_SECRET_JWT=23ac43b5e6f2a12
      - NX_SECRET_PW=secret
      - U_USERS_PW_RESET_URL=/password-reset/resolve/:id?from=ubs
      - U_USERS_REGISTERED_USER_VALIDATING_URL=/login?activationKey=:key
      - UBS_MAIN_PROCESS=true
      - UBS_MAIN_PROCESS_COUNT=3

  engine5:
    image: hcangunduz/engine5:0.0.7-alpha
    ports:
      - 3535:3535
  
  my-mongodb:
    image: mongo:4.2.3-bionic
    container_name: my-mongodb
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_DATABASE=test
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - ./mongo-entrypoint:/docker-entrypoint-initdb.d
      - ./mongo-data:/data/db
      - mongoconfig:/data/configdb
    # networks:
    #   - mongo_net
  smtp4dev:
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      # Change the number before : to the port the web interface should be accessible on
      - '5051:80'
      # Change the number before : to the port the SMTP server should be accessible on
      - '25:25'
      # Change the number before : to the port the IMAP server should be accessible on
      - '143:143'
    volumes:
      # This is where smtp4dev stores the database..
      - smtp4dev-data:/smtp4dev
    environment:
      # Uncomment to customise these settings
      # This is not a complete list of the available settings.
      # See the documentation in appsettings.json for a full list.

      #Specifies the virtual path from web server root where SMTP4DEV web interface will be hosted. e.g. "/" or "/smtp4dev"
      #- ServerOptions__BasePath=/smtp4dev

      #Specifies the server hostname. Used in auto-generated TLS certificate if enabled.
      - ServerOptions__HostName=tester.tetakent.com

      #Locks settings from being changed by user via web interface
      #- ServerOptions__LockSettings=true

      #Specifies the path where the database will be stored relative to APPDATA env var on Windows or XDG_CONFIG_HOME on non-Windows. Specify "" to use an in memory database.
      #- ServerOptions__Database=database.db

      #Specifies the number of messages to keep
      #- ServerOptions__NumberOfMessagesToKeep=100

      #Specifies the number of sessions to keep
      #- ServerOptions__NumberOfSessionsToKeep=100

      #Specifies the TLS mode to use. None=Off. StartTls=On demand if client supports STARTTLS. ImplicitTls=TLS as soon as connection is established.
      #- ServerOptions__TlsMode=None

      #Specifies the TLS certificate to use if TLS is enabled/requested. Specify "" to use an auto-generated self-signed certificate (then see console output on first startup)
      #- ServerOptions__TlsCertificate=

      #Sets the name of the SMTP server that will be used to relay messages or "" if messages should not be relayed
      #- RelayOptions__SmtpServer=

      #Sets the port number for the SMTP server used to relay messages.
      #- RelayOptions__SmtpPort=25

      #Specifies a comma separated list of recipient addresses for which messages will be relayed. An empty list means that no messages are relayed.
      #- RelayOptions__AllowedEmailsString=

      #Specifies the address used in MAIL FROM when relaying messages. (Sender address in message headers is left unmodified). The sender of each message is used if not specified.
      #- RelayOptions__SenderAddress=

      #The username for the SMTP server used to relay messages. If "" no authentication is attempted.
      #- RelayOptions__Login=

      #The password for the SMTP server used to relay messages
      #- RelayOptions__Password=

      #Specifies the port the IMAP server will listen on - allows standard email clients to view/retrieve messages
      #"ServerOptions__ImapPort"=143

volumes:
  smtp4dev-data:
  # default dir on Ubuntu: /var/lib/docker/volumes
  mongodb:
  mongoconfig:
# networks:
#   mongo_net:
#     driver: bridge
